{{>layout/header}}

<h1>Post BOARD</h1>

<div class="col-md-12">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="title">title</label>
                <input type="text" class="form-control" id="title" placeholder="title here">
            </div>
            <div class="form-group">
                <label for="author"> writer </label>
                <input type="text" class="form-control" id="author" placeholder="writer here">
            </div>
            <div class="form-group">
                <label for="content"> content </label>
                <textarea class="form-control" id="content" placeholder="contents here"></textarea>
            </div>
            <div class="form-group">
                <label for="image"> file </label>
                <input type="file" class="form-control-file border" name="file">
            </div>
        </form>
        <a href="/" role="button" class="btn btn-secondary">cancel</a>
        <button type="button" class="btn btn-primary" id="btn-save">post</button>
    </div>
</div>

{{>layout/footer}}